<!DOCTYPE html>
<html>
<head>
	<title>Upload data</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="super.js"></script>
</head>
<body ng-app="superapp" ng-init="dealshow='true'; slideshow='false'">

    <nav class="navbar navbar-inverse">
		<div class="container-fluid">	
			<ul class="nav navbar-nav">
				<li class="active"><a data-toggle="tooltip" title="enter deals" ng-click="dealshow='true' ; slideshow='false'">Deals</a></li>
				<li class="active"><a data-toggle="tooltip" title="enter deals" ng-click="dealshow='false' ; slideshow='true'">Slides</a></li>
			</ul>
		</div>	    	
    </nav>
    <div class="container-fluid">
	<div ng-controller="superController" >
	<div ng-show="dealshow">
	<h1>Upload deals and its details</h1>
	<form id="dealform" class="form-horizontal" role="form">
        <div class="form-group">
     	<label for="title" class="col-md-3 control-label">Title</label>
     	<div class="col-md-9">
        <input type="text" class="form-control" name="title" placeholder="enter title details" ng-model="scopedeal.title" required>
        </div>
        </div>

        <div class="form-group">
    	<label for="Description" class="col-md-3 control-label">Description</label>
     	<div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="Description" placeholder="Description" ng-model="scopedeal.Description" required>
    	</div>
    	</div>

    	<div class="form-group">
    	<label for="url" class="col-md-3 control-label">Url</label>
        <div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="url" placeholder="url" ng-model="scopedeal.url" required>
        </div>
        </div>

        <div class="form-group">
    	<label for="discount" class="col-md-3 control-label">Discount string</label>
        <div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="discount" placeholder="Discount string (75%)" ng-model="scopedeal.discount" required>
        </div>
        </div>
        
        <div class="form-group">
    	<label for="client" class="col-md-3 control-label">client name</label>
        <div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="client" placeholder="client name (AMAZON)" ng-model="scopedeal.client" required>
        </div>
        </div>
        
        <div class="form-group">
    	<label for="subdiscount" class="col-md-3 control-label">subdiscount string</label>
        <div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="subdiscount" placeholder="CASHBACK / DISCOUNT" ng-model="scopedeal.subdiscount" required>
        </div>
        </div>
        
        <div class="form-group">
    	<label for="product" class="col-md-3 control-label">product name</label>
        <div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="product" placeholder="BAGS" ng-model="scopedeal.product" required>
        </div>
        </div>

        <div class="form-group">
    	<label for="image" class="col-md-3 control-label">upload image</label>
        <div class="col-md-9">
        <input type="text"  name="image" filemodel="scopedeal.image" required>
        </div>
        </div>

        <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
        <button ng-click="uploaddeal(scopedeal)" id="btn-signup" type="button" class="btn btn-info"></i> upload
        </button>        	
        </div>
        </div>
        
    </form>
    </div>
    <!-- end of delas-->
    <!--statrt of slide-->
	<div ng-show="slideshow">
	<h1>Upload slide and its details</h1>
	<form id="slideform" class="form-horizontal" role="form">
        <div class="form-group">
     	<label for="url" class="col-md-3 control-label">Url</label>
     	<div class="col-md-9">
        <input type="text" class="form-control" name="url" placeholder="enter url" ng-model="scopedeal.url" required>
        </div>
        </div>

        <div class="form-group">
    	<label for="text" class="col-md-3 control-label">text</label>
     	<div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="text" placeholder="text" ng-model="scopedeal.text" required>
    	</div>
    	</div>

    	<div class="form-group">
    	<label for="offertext" class="col-md-3 control-label">offertext</label>
        <div class="col-md-9">
        <input type="text" class="col-md-6 form-control" name="offertext" placeholder="offertext (CASHBACK)" ng-model="scopedeal.offertext" required>
        </div>
        </div>
       <div class="form-group">
    	<label for="image" class="col-md-3 control-label">upload image</label>
        <div class="col-md-9">
        <input type="text"  name="image" filemodel="scopedeal.image" required>
        </div>
        </div>

        <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
        <button ng-click="uploadslide(scopedeal)" id="btn-slide" type="button" class="btn btn-info"></i> upload
        </button>        	
        </div>
        </div>
        
    </form>
    </div><!-- end of sldes-->
 

    </div>
    </div>
</body>
</html>